div .view {
  border: 5px solid green;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 0 100px;
}
.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #8b8a8b;
  border-radius: 4px;
}
button {
  background-color: #283593; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.viewparagraph {
  margin-right: 10px;
}
