.wrap {
  border-radius: 5px;
  background: #2196f3;
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto 15px auto;
  max-width: 758px;
  padding: 15px 0;
}
.wrap p {
  color: #fafafa;
}
.header {
  text-align: center;
  margin: 3rem 0;
}
.contain {
  margin: 0 auto;
  width: 100%;
  padding: 0 5px;
}
.buttondiv {
  display: flex;
  justify-content: flex-end;
  background: #43a047;
  padding: 0 10px 10px 0;
}

.button25 {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0 0 5px 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

.button25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button25:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button25:disabled:active {
  pointer-events: none;
}

.button25:disabled:hover {
  box-shadow: none;
}

.edit {
  cursor: pointer;
}
.trash {
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .wrap {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .button25 {
    font-size: 1rem;
    width: 100px;
  }
}
